/* Colour stuff */
:root {
  --white: #ffffff;
  --lightBG: #dce1df;
  --salmon: #ff6666;
  --teal: #facf0f;
  --tealMid: #facf0f;
  --tealContrast: #facf0f;
  --tealShade: #facf0f;
  --darkGrey: #4f585e;
}
body {
  background: var(--lightBG);
  color: var(--darkGrey);
  font-family: "Source Sans Pro", sans-serif;
  text-rendering: optimizeLegibility;
}
.btn {
  background: var(--teal);
  border-radius: 4px;
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.25);
  color: var(--white);
  display: inline-block;
  padding: 6px 30px 8px;
  position: relative;
  text-decoration: none;
  transition: all 0.1s 0s ease-out;
}
.no-touch .btn:hover {
  background: #33b2b2;
  box-shadow: 0px 8px 2px 0 rgba(0, 0, 0, 0.075);
  transform: translateY(-2px);
  transition: all 0.25s 0s ease-out;
}
.no-touch .btn:active,
.btn:active {
  background: #005a5a;
  box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.25);
  transform: translate3d(0, 1px, 0);
  transition: all 0.025s 0s ease-out;
}
div.projects_cards_wrapper {
  margin: 80px auto;
  /* max-width: 960px; */
  text-align: center;
}
div.card {
  background: var(--white);
  display: inline-block;
  margin: 2rem;
  max-width: 290px;
  perspective: 1000;
  position: relative;
  text-align: left;
  transition: all 0.3s 0s ease-in;
  width: 290px;
  z-index: 1;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
div.card:hover {
  transform: scale(1.04);
  border: none;
}
div.card img {
  max-width: 290px;
}
div.card .card__image-holder {
  background: rgba(0, 0, 0, 0.1);
  height: 0;
  padding-bottom: 44%;
}
div.card .card-title {
  background: var(--white);
  padding: 15px 15px 10px;
  position: relative;
  z-index: 0;
}
div.card .card-title a.toggle-info {
  border-radius: 32px;
  height: 32px;
  padding: 0;
  position: absolute;
  right: 15px;
  top: 22px;
  width: 32px;
}
div.card .card-title a.toggle-info span {
  background: var(--white);
  display: block;
  height: 2px;
  position: absolute;
  top: 16px;
  transition: all 0.15s 0s ease-out;
  width: 12px;
}
div.card .card-title a.toggle-info span.left {
  right: 14px;
  transform: rotate(45deg);
}
div.card .card-title a.toggle-info span.right {
  left: 14px;
  transform: rotate(-45deg);
}
div.card .card-title h2 {
  font-size: 23px;
  font-weight: 700;
  letter-spacing: -0.05em;
  margin: 0;
  padding: 0;
}
div.card .card-title h2 small {
  display: block;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.025em;
}
div.card .card-description {
  padding: 0 15px 10px;
  position: relative;
  font-size: 14px;
}
div.card .card-actions {
  box-shadow: 0 2px 0px 0 rgba(0, 0, 0, 0.075);
  padding-bottom: 10px;
  display: flex;
  margin-left: 7px;
}
div.card .card-flap {
  background: #e6e6e6;
  position: absolute;
  width: 100%;
  transform-origin: top;
  transform: rotateX(-90deg);
}
div.card .flap1 {
  transition: all 0.3s 0.3s ease-out;
  z-index: -1;
}
div.card .flap2 {
  transition: all 0.3s 0s ease-out;
  z-index: -2;
}
div.projects_cards_wrapper.showing div.card {
  cursor: pointer;
  opacity: 0.6;
  transform: scale(0.88);
}
.no-touch div.projects_cards_wrapper.showing div.card:hover {
  opacity: 0.94;
  transform: scale(0.92);
}
div.card.show {
  opacity: 1 !important;
  transform: scale(1) !important;
}
div.card.show .card-title a.toggle-info {
  background: var(--salmon) !important;
}
div.card.show .card-title a.toggle-info span {
  top: 15px;
}
div.card.show .card-title a.toggle-info span.left {
  right: 10px;
}
div.card.show .card-title a.toggle-info span.right {
  left: 10px;
}
div.card.show .card-flap {
  background: var(--white);
  transform: rotateX(0deg);
}
div.card.show .flap1 {
  transition: all 0.3s 0s ease-out;
}
div.card.show .flap2 {
  transition: all 0.3s 0.2s ease-out;
}
