*,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header_Content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 5rem;
}
.header_logo_container {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #333;
  transition: color 0.3s;
}

.header_logo_img-container {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 50px;
  overflow: hidden;
  margin-right: 1rem;
}
.header_logo_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.header_logo_name {
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 0.7px;
  transition: color 0.3s;
}
.header_logo_name:hover {
  color: #facf0f;
}
.header_hamburgerMenu {
  display: none;
  width: 3rem;
  padding: 2.2rem 0;
}
.header_links {
  display: flex;
  align-items: center;
}
.header_link {
  list-style: none;
}
.header_a_link {
  padding: 1.5rem 1.5rem;
  display: inline-block;
  font-size: 1.1rem;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-weight: 900;
  transition: color 0.3s;
}
a {
  text-decoration: none;
}
.header_a_link:hover {
  color: #facf0f;
}
.toggleBtn_container {
  width: 100%;
  height: 30px;
  position: relative;
  list-style: none;
}
.toggle {
  appearance: none;
  height: 30px;
  width: 58px;
  background-color: #15181f;
  border-radius: 20px;
  outline: none;
  cursor: pointer;
}
.toggle:after {
  content: "";
  position: absolute;
  height: 22px;
  width: 22px;
  background-color: #ffffff;
  top: 4px;
  left: 7px;
  border-radius: 50%;
}
.home_hero {
  background: linear-gradient(
      to right,
      rgba(245, 245, 245, 0.8),
      rgba(245, 245, 245, 0.8)
    ),
    url(https://d33wubrfki0l68.cloudfront.net/daac8858fd4a0ccea44f59dfd079c3c16c263f33/c157c/assets/svg/common-bg.svg);
  background-position: center;
  /* height: 60vh; */
  min-height: 42rem;
  max-height: 90rem;
  position: relative;
}
.home_hero_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50rem;
  width: 62%;
}
.hero_content_heading {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  color: #111;
  font-weight: 800;
}
.home_hero_info {
  margin: 3rem auto 0 auto;
  max-width: 80rem;
}
.home_hero_info p {
  color: #333;
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  line-height: 1.6;
}

.home_hero_socialLinks {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
  padding: 1rem 1.2rem 1rem 0.2rem;
}
.home_hero_social_link {
  width: 2.1rem;
  margin: 0.5rem 0;
}
.home_hero_socialIcon_link {
  width: 100%;
  display: block;
  transition: background-color 0.3s;
  border-radius: 5px;
  padding: 0.5rem;
}
.home_hero_socialIcon_link:hover {
  background-color: #f2de88;
}
.aboutMe {
  background: #fafafa;
  padding: 7rem 0;
}
.aboutMe_container {
  max-width: 120rem;
  margin: auto;
  width: 92%;
}
.aboutMe_heading {
  display: block;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3.5rem;
  position: relative;
  color: #111;
}
.aboutMe_heading::after {
  content: "";
  position: absolute;
  top: calc(100% + 1rem);
  height: 5px;
  width: 3rem;
  background: #facf0f;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}
.aboutMe_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8rem;
}
.aboutMe_main_title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
}
.aboutMe_main_info_para {
  font-size: 1rem;
  color: #666;
  max-width: 60rem;
  line-height: 1.6;
  margin-bottom: 0.75rem;
}
.aboutMe_skills_title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 1.7rem;
}
.skills {
  display: flex;
  flex-wrap: wrap;
}
.skill {
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 3px;
  font-weight: 600;
  color: #666;
}
.projectsSection {
  padding: 5rem 0;
}
.projectsMain_container {
  max-width: 100rem;
  margin: auto;
  width: 90%;
}
.projects_heading {
  margin-bottom: 4rem;
}
.projects_heading_main {
  display: block;
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  margin-bottom: 3rem;
  position: relative;
  color: #111;
}

.projects_heading_main::after {
  content: "";
  position: absolute;
  top: calc(100% + 1rem);
  height: 5px;
  width: 3rem;
  background: #facf0f;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
}

.projects_heading_sub {
  display: block;
  text-align: center;
  color: #555;
  font-size: 1.2rem;
  font-weight: 500;
  max-width: 80rem;
  margin: auto;
  line-height: 1.6;
}
.projects_content {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

/* .project_img_container {
  width: 15rem;
} */
.project_image {
  /* width: 100%;
  height: auto; */
  float: left;
  width: 15rem;
  height: 10rem;
  object-fit: cover;
}
.card_top {
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.project_info {
  display: none;
  /* display: flex; */
  flex-wrap: wrap;
  width: 100%;
}
.projects_card {
  width: 22%;
  max-width: 20rem;
  background-color: rgb(255, 255, 255);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 5px -3px,
    rgba(0, 0, 0, 0.14) 0px 8px 10px 1px, rgba(0, 0, 0, 0.12) 0px 3px 14px 2px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projectCard_heading {
  font-size: 1.2rem;
  font-weight: 500;
  color: #2c2929;
  padding: 0.7rem;
}
.project_skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1rem;
}
.project_skill {
  padding: 0.4rem 0.4rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
  font-size: 0.8rem;
  background: rgba(153, 153, 153, 0.2);
  border-radius: 3px;
  font-weight: 600;
  color: #666;
}
.cardInfo_icons_container {
  margin: 1rem 0;
}
.cardInfo_icons_container.is_expanded .fa-angle-up{
  display: none;
}

.cardInfo_icons_container .fa-angle-up{
  display: block;
}
.cardInfo_icons_container.is_expanded .fa-angle-down{
  display: block;
}

.cardInfo_icons_container .fa-angle-down{
  display: none;
}
.cardInfo_icons_container.is_expanded .project_info{
  display: block;
}
.cardInfo_icons_container .project_info{
  display: none;
}
.cardBtn_icon {
  outline: none;
  border: none;
  font-size: 1.2rem;
  background-color: white;
  color: rgba(153, 153, 153, 0.2);
  margin-left: 1.8rem;
}
.cardIcon {
  color: rgb(83, 83, 83);
  cursor: pointer;
  padding: 0.6rem;
  border-radius: 50%;
  transition: background-color 0.3s;
}
.cardIcon:hover {
  background-color: #f2de88;
}
.project_info_para {
  padding: 5px 1rem;
}
/* .infoExpandArrow{
  transform: rotate(180deg);
  transition: 0.3s ease-in-out;
} */
